if seo
    if seo.canonical
        link(rel="canonical", href=seo.canonical)
        meta(property="og:url", content=seo.canonical)
    if seo.title
        meta(property="og:title", content=seo.title)
        title= seo.title
    if seo.description
        meta(property="og:description", content=seo.description)
        meta(name="description", content=seo.description)
    if seo.keywords
        meta(name="keywords" content=seo.keywords)
    if seo.type
        meta(property="og:type", content=seo.type)
    if seo.site_name
        meta(property="og:site_name", content=seo.site_name)
    //- Image
    if seo.image
        if seo.image.url
            meta(property="og:image", content=seo.image.url)
            meta(property="og:image:url", content=seo.image.url)
        if seo.image.secure_url
            meta(property="og:image:secure_url", content=seo.image.secure_url)
        if seo.image.type
            meta(property="og:image:type", content=seo.image.type)
        if seo.image.width
            meta(property="og:image:width", content=seo.image.width)
        if seo.image.height
            meta(property="og:image:height", content=seo.image.height)
        if seo.image.alt
            meta(property="og:image:alt", content=seo.image.alt)
    //- Video
    if seo.video
        if seo.video.url
            meta(property="og:video", content=seo.video.url)
            meta(property="og:video:url", content=seo.video.url)
        if seo.video.secure_url
            meta(property="og:video:secure_url", content=seo.video.secure_url)
        if seo.video.type
            meta(property="og:video:type", content=seo.video.type)
        if seo.video.width
            meta(property="og:video:width", content=seo.video.width)
        if seo.video.height
            meta(property="og:video:height", content=seo.video.height)
    //- Audio
    if seo.audio
        if seo.audio.url
            meta(property="og:audio", content=seo.audio)
            meta(property="og:audio:url", content=seo.audio.url)
        if seo.audio.secure_url
            meta(property="og:audio:secure_url", content=seo.audio.secure_url)
        if seo.video.type